In [2]:
import numpy as np
import pandas as pd
import datetime

In [30]:
today_date = datetime.datetime.today()

# Ordinal Encoding

In [4]:
today_date

datetime.datetime(2021, 5, 9, 3, 1, 17, 648507)

In [7]:
today_date - datetime.timedelta(3)

datetime.datetime(2021, 5, 6, 3, 1, 17, 648507)

In [8]:
days = [today_date - datetime.timedelta(x) for x in range(15)]

In [9]:
days

[datetime.datetime(2021, 5, 9, 3, 1, 17, 648507),
 datetime.datetime(2021, 5, 8, 3, 1, 17, 648507),
 datetime.datetime(2021, 5, 7, 3, 1, 17, 648507),
 datetime.datetime(2021, 5, 6, 3, 1, 17, 648507),
 datetime.datetime(2021, 5, 5, 3, 1, 17, 648507),
 datetime.datetime(2021, 5, 4, 3, 1, 17, 648507),
 datetime.datetime(2021, 5, 3, 3, 1, 17, 648507),
 datetime.datetime(2021, 5, 2, 3, 1, 17, 648507),
 datetime.datetime(2021, 5, 1, 3, 1, 17, 648507),
 datetime.datetime(2021, 4, 30, 3, 1, 17, 648507),
 datetime.datetime(2021, 4, 29, 3, 1, 17, 648507),
 datetime.datetime(2021, 4, 28, 3, 1, 17, 648507),
 datetime.datetime(2021, 4, 27, 3, 1, 17, 648507),
 datetime.datetime(2021, 4, 26, 3, 1, 17, 648507),
 datetime.datetime(2021, 4, 25, 3, 1, 17, 648507)]

In [20]:
df = pd.DataFrame(days)

In [21]:
df.columns = ['Date']

In [25]:
df['Day of Week'] = df['Date'].dt.weekday_name

In [26]:
df

                         Date Day of Week
0  2021-05-09 03:01:17.648507      Sunday
1  2021-05-08 03:01:17.648507    Saturday
2  2021-05-07 03:01:17.648507      Friday
3  2021-05-06 03:01:17.648507    Thursday
4  2021-05-05 03:01:17.648507   Wednesday
5  2021-05-04 03:01:17.648507     Tuesday
6  2021-05-03 03:01:17.648507      Monday
7  2021-05-02 03:01:17.648507      Sunday
8  2021-05-01 03:01:17.648507    Saturday
9  2021-04-30 03:01:17.648507      Friday
10 2021-04-29 03:01:17.648507    Thursday
11 2021-04-28 03:01:17.648507   Wednesday
12 2021-04-27 03:01:17.648507     Tuesday
13 2021-04-26 03:01:17.648507      Monday
14 2021-04-25 03:01:17.648507      Sunday

In [27]:
my_dict = {'Monday': 1, 'Tuesday':2, 'Wednesday':3, 'Thursday':4, 'Friday':5, 'Saturday':6, 'Sunday':7}

In [28]:
df['dayofweek_encoded'] = df['Day of Week'].map(my_dict)

In [29]:
df

                         Date Day of Week  dayofweek_encoded
0  2021-05-09 03:01:17.648507      Sunday                  7
1  2021-05-08 03:01:17.648507    Saturday                  6
2  2021-05-07 03:01:17.648507      Friday                  5
3  2021-05-06 03:01:17.648507    Thursday                  4
4  2021-05-05 03:01:17.648507   Wednesday                  3
5  2021-05-04 03:01:17.648507     Tuesday                  2
6  2021-05-03 03:01:17.648507      Monday                  1
7  2021-05-02 03:01:17.648507      Sunday                  7
8  2021-05-01 03:01:17.648507    Saturday                  6
9  2021-04-30 03:01:17.648507      Friday                  5
10 2021-04-29 03:01:17.648507    Thursday                  4
11 2021-04-28 03:01:17.648507   Wednesday                  3
12 2021-04-27 03:01:17.648507     Tuesday                  2
13 2021-04-26 03:01:17.648507      Monday                  1
14 2021-04-25 03:01:17.648507      Sunday                  7

#### probability ration encoding

In [42]:
df = pd.read_csv('titanic_train.csv', usecols = ['Survived', 'Cabin'])

In [43]:
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [44]:
df.fillna('Missing', inplace = True)

In [45]:
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [46]:
df['Cabin'] = df['Cabin'].astype(str).str[0]

In [57]:
df.head()

   Survived Cabin  prob_encoded
0         0     M      0.299854
1         1     C      0.593220
2         1     M      0.299854
3         1     C      0.593220
4         0     M      0.299854

In [59]:
df.groupby('Cabin')['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [55]:
prob_encoded = df.groupby('Cabin')['Survived'].mean().to_dict()

In [52]:
df['prob_encoded'] = df['Cabin'].map(prob_encoded)

In [53]:
df.head()

   Survived Cabin  prob_encoded
0         0     M      0.299854
1         1     C      0.593220
2         1     M      0.299854
3         1     C      0.593220
4         0     M      0.299854

In [60]:
df_prob = pd.DataFrame(df.groupby('Cabin')['Survived'].mean())

In [61]:
df_prob

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [62]:
df_prob['Dead'] = 1 - df_prob['Survived']

In [63]:
df_prob.head()

       Survived      Dead
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000

In [64]:
df_prob['prob_ratio'] = df_prob['Survived']/ df_prob['Dead']

In [65]:
df_prob.head()

       Survived      Dead  prob_ratio
Cabin
A      0.466667  0.533333    0.875000
B      0.744681  0.255319    2.916667
C      0.593220  0.406780    1.458333
D      0.757576  0.242424    3.125000
E      0.750000  0.250000    3.000000

In [66]:
prob_ratio_encoded = df_prob['prob_ratio'].to_dict()

In [67]:
prob_ratio_encoded

{'A': 0.875,
 'B': 2.916666666666666,
 'C': 1.4583333333333333,
 'D': 3.125,
 'E': 3.0,
 'F': 1.6000000000000003,
 'G': 1.0,
 'M': 0.42827442827442824,
 'T': 0.0}

In [68]:
df['prob_ratio'] = df['Cabin'].map(prob_ratio_encoded)

In [69]:
df.head()

   Survived Cabin  prob_encoded  prob_ratio
0         0     M      0.299854    0.428274
1         1     C      0.593220    1.458333
2         1     M      0.299854    0.428274
3         1     C      0.593220    1.458333
4         0     M      0.299854    0.428274